In [124]:
import pandas as pd
import matplotlib.pyplot as plt

In [125]:
df = pd.DataFrame(pd.read_csv('../Resources/pokedex_(Update.04.20).csv'))
df = df[['height_m','weight_kg','hp','attack','defense','speed','catch_rate','is_legendary']]
df = df.dropna(how='any')
df['is_legendary'] = df['is_legendary'].replace(1, 'Legendary')
df['is_legendary'] = df['is_legendary'].replace(0, 'Not Legendary')
df

,height_m,weight_kg,hp,attack,defense,speed,catch_rate,is_legendary
0,0.7,6.9,45.0,49.0,49.0,45.0,45.0,Not Legendary
1,1.0,13.0,60.0,62.0,63.0,60.0,45.0,Not Legendary
2,2.0,100.0,80.0,82.0,83.0,80.0,45.0,Not Legendary
3,2.4,155.5,80.0,100.0,123.0,80.0,45.0,Not Legendary
4,0.6,8.5,39.0,52.0,43.0,65.0,45.0,Not Legendary
...,...,...,...,...,...,...,...,...
933,0.6,1.8,67.0,73.0,67.0,73.0,45.0,Not Legendary
934,3.6,150.0,73.0,73.0,73.0,121.0,45.0,Not Legendary
935,5.5,820.0,61.0,131.0,211.0,13.0,30.0,Not Legendary
936,1.8,13.0,53.0,127.0,53.0,107.0,30.0,Not Legendary
937,1.5,44.5,88.0,112.0,75.0,143.0,3.0,Not Legendary

In [126]:
y = df['is_legendary']
X = df[['height_m','weight_kg','hp','attack','defense','speed','catch_rate']]

In [127]:
y_test

      is_legendary
333  Not Legendary
876  Not Legendary
30   Not Legendary
852  Not Legendary
302  Not Legendary
..             ...
430  Not Legendary
561  Not Legendary
414  Not Legendary
319  Not Legendary
137  Not Legendary

[277 rows x 1 columns]

In [128]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=42)
from sklearn.preprocessing import StandardScaler, OneHotEncoder
X_train = StandardScaler().fit_transform(X_train.values)
X_test = StandardScaler().fit_transform(X_test.values)
X_test

array([[-0.31569708, -0.36531483, -1.13443607, ..., -1.23729803,
        -0.59020524,  0.31159102],
       [ 0.92521907,  6.51245626,  1.21713968, ...,  0.7942131 ,
        -1.10302473, -0.47412325],
       [ 0.56024373, -0.46697559, -1.248222  , ..., -0.95601188,
        -0.41926541,  2.07944811],
       ...,
       [-0.68067242, -0.51360196,  0.07928044, ..., -0.14340742,
         0.09355407, -0.67055181],
       [-0.16970694, -0.30263676, -0.30000597, ..., -0.76848777,
        -0.07738576, -0.67055181],
       [ 0.19526839, -0.1390623 , -0.67929238, ..., -0.67472572,
         0.67474949, -0.67055181]])

In [133]:
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.svm import SVC
from sklearn.metrics import mean_squared_error, mean_absolute_error

model = SVC(kernel='linear')
model.fit(X_train, y_train)

# pred = model.predict(X_test)

# print(model.score(X_test, y_test))

from sklearn.metrics import classification_report
pred = model.predict(X_test)
print(classification_report(y_test, pred))

# MSE = mean_squared_error(y_test, model.predict(X_test))
# MAE = mean_absolute_error(y_test, model.predict(X_test))
# r2 = model.score(X_test, y_test)

# print(f"R2 Score: {r2}")
# print(f"MSE: {MSE}, MAE: {MAE}, R2: {r2}")
#     # Plot the Residuals for the Training and Testing data
#     fig, ax = plt.subplots()
#     plt.scatter(model.predict(X_train), model.predict(X_train) - y_train, c='blue', label='Training Data')
#     plt.scatter(model.predict(X_test), model.predict(X_test) - y_test, c='orange', label='Testing Data')
# #     plt.hlines(y=0, xmin=y.min(), xmax=y.max())
#     plt.legend()

               precision    recall  f1-score   support

    Legendary       0.43      0.43      0.43         7
Not Legendary       0.99      0.99      0.99       270

     accuracy                           0.97       277
    macro avg       0.71      0.71      0.71       277
 weighted avg       0.97      0.97      0.97       277

In [130]:
y_test.dropna()

333    Not Legendary
876    Not Legendary
30     Not Legendary
852    Not Legendary
302    Not Legendary
           ...
430    Not Legendary
561    Not Legendary
414    Not Legendary
319    Not Legendary
137    Not Legendary
Name: is_legendary, Length: 277, dtype: object

In [131]:
test_result = pd.DataFrame(X_test)
test_result['pred'] = pred
test_result['actual'] = y_test
test_result

,0,1,2,3,4,5,6,pred,actual
0,-0.315697,-0.365315,-1.134436,-1.368474,-1.237298,-0.590205,0.311591,Not Legendary,NaN
1,0.925219,6.512456,1.217140,1.542204,0.794213,-1.103025,-0.474123,Not Legendary,NaN
2,0.560244,-0.466976,-1.248222,-0.559952,-0.956012,-0.419265,2.079448,Not Legendary,Not Legendary
3,-0.096712,-0.320982,0.458567,1.380500,0.012863,-0.248326,-0.670552,Not Legendary,NaN
4,0.487249,-0.097787,0.079280,1.057091,0.012863,2.657652,-0.670552,Not Legendary,NaN
...,...,...,...,...,...,...,...,...,...
272,-0.315697,-0.217792,0.079280,-1.206770,-0.768488,-1.444904,2.079448,Not Legendary,NaN
273,0.706234,0.295098,-0.868936,0.733682,1.888104,-0.761145,-0.670552,Not Legendary,Not Legendary
274,-0.680672,-0.513602,0.079280,-0.236544,-0.143407,0.093554,-0.670552,Not Legendary,Not Legendary
275,-0.169707,-0.302637,-0.300006,-0.236544,-0.768488,-0.077386,-0.670552,Not Legendary,NaN
276,0.195268,-0.139062,-0.679292,1.380500,-0.674726,0.674749,-0.670552,Not Legendary,NaN

In [132]:
test_result.loc[test_result.pred == 'Legendary']

,0,1,2,3,4,5,6,pred,actual
83,1.217199,2.117348,1.217140,2.350726,1.419293,0.777313,-1.220552,Legendary,Not Legendary
107,0.633239,0.084133,0.458567,1.865613,0.325403,2.828591,-0.670552,Legendary,NaN
170,6.253859,2.767060,1.217140,2.350726,0.481673,0.777313,-1.194361,Legendary,NaN
202,0.560244,0.477782,3.113572,2.674134,0.794213,1.119193,-0.670552,Legendary,Not Legendary
228,1.509180,1.964475,2.165356,2.997543,0.794213,0.948253,-1.220552,Legendary,NaN
240,9.684627,2.522462,3.872145,0.410274,-0.924758,-0.248326,-0.474123,Legendary,NaN
241,0.341259,-0.054982,-0.679292,0.571978,0.481673,3.854230,-1.220552,Legendary,NaN